body {
  font-family: Arial, sans-serif;
  background-color: #A0AECD;
  color: #000000;
}

header {
  text-align: center;
  padding: 1em;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;
}

form {
  background-color: white;
  padding: 2em;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

input[type="text"],
select {
  padding: 0.5em;
  margin: 1em 0;
  width: 100%;
}

input[type="submit"] {
  background-color: #000000;
  color: white;
  padding: 0.75em 1em;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

footer {
  text-align: center;
  padding: 1em;
}